form
{

  background-color: white;
  opacity: 0.9;
text:black;
border: 1px solid powderblue;
  margin-top:100px;
margin-right:440px;
margin-left:440px;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}