.container
{
	width:100%;
}
body
{
	padding:0;
	background-color:orange;
	margin:0;
	color:black;
}
  footer
  {
  	width:100%;
  	padding-top:20px;
  	padding-bottom:20px;
  	margin-top:20px;
  	color:white;
  	background-color:gray;
  	text-align:center;

  }
  #al
  {
    text-align:right;
  }
  .jumbotron
  {
    width:100%;
    min-height:200px;
    background-color:brown;
    color:white;
  }
  .jb
  {
    background-color:brown;
  }
  #ppp
  {
    text-align:right;
  }
  #qqq
  {
    background-color:brown;
    color:white;
  }
  .jumbotron img
  {
    padding-left:10px;
    padding-right:10px;
  }
  header
  {
    width:100%;
    background-color:brown;
    color:white;
  }
  .acc
  {
    padding-top:50px;
  }
  .btn
  {
    background-color:gray;
  }
  #color1
  {
    background-color:green;
  }
